.sign-in .img-fluid{
    max-width: 100%;
    height: auto;
}

.sign-in input[type="password"],
.sign-in input[type="text"]{
    border: 1px solid #0C145A;
    padding: 0.75rem 1.625rem;
    color: #0C145A;
}

.sign-in input[type="password"]:focus-within,
.sign-in input[type="text"]:focus-within{
    color: #0C145A;
}

.sign-in input[type="password"]::placeholder,
.sign-in input[type="text"]::placeholder{
    color: #CCD0DD;
}

.sign-in .btn-sign-in{
    font-family: 'Quicksand', sans-serif;
	font-weight: bold;
    padding: 0.75rem;
    background-color: #4D17E2;
    width: 100%;
}

.title {
    font-family: 'Pacifico', cursive;
    color: #212529;
    font-size: 2rem;
}

.label {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    position: relative;
    left: 0;
    color: #212529;
}

@media (min-width: 992px){
    .sign-in .container,
    .sign-in input[type="password"],
    .sign-in input[type="text"]{
        max-width: 437px;
    }
}